body { font: 16px/150% Arial, sans-serif; color:#2C3A47; }
h1 { font-size:36px; }
.accent { color:#E17055; }

.tiles { display:flex; margin:-2%; }

.groceryItem { box-sizing:border-box; height:100%; border-right: 10px solid #E17055; border-bottom: 10px solid #E17055; background-color:#FFF4D5; }


@media screen and (min-width:320px) and (max-width:767px) {
	.container { padding: 0 10px; }
}
@media screen and (min-width:768px) {
	.tile { margin:2%; width:21%; }
}
@media screen and (min-width:768px) and (max-width:1024px) {
	.container { padding: 0 15px; }
}
@media screen and (min-width:1025px) {
	.container { max-width:980px; margin: 0 auto; }
}
